
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496226067668'); /* IE9*/
  src: url('iconfont.eot?t=1496226067668#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496226067668') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496226067668') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496226067668#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:50px;
  font-style:normal;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before { content: "\e705"; }

.icon-dizhi:before { content: "\eb87"; }

.icon-dianhua:before { content: "\e6a6"; }

