*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
	max-height: 9999999px;
	text-size-adjust: 100%;
	user-select: none;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	font-family: "Helvetica";
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
	font-size: 0.14rem;
	/* transparent的属性值在android下无效 */
}
a,input,button,form{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}