.flash-one{
	width: 100%;
	height:100vh;
	background-image: url('../img/slash-1.png');
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	padding-left:0.24rem;
	position: relative;
	overflow: hidden;
}
.tiaoguo{
	width: 0.9rem;
	height: 0.3rem;
	border-radius: 0.12rem;
	border:1px solid #575757;
	line-height: 0.32rem;
	text-align: center;
	color: #838383;
	position: absolute;
	top: 0.38rem;
	right: 0.35rem;
	font-size: 0.20rem;
	z-index: 2;
}
.tiaoguo a{
	color:#6F6F6F;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.flash-one h1{
	font-size: 0.82rem;
	margin-top: 7.65rem;
	color: #4A4A4A;
}
.flash-one h2{
	font-size: 0.32rem;
	font-weight: bold;
	color: #4A4A4A;
	margin-top: 0.35rem;
	
}
.flash-one h3{
	font-size: 0.18rem;
	margin-top: 0.12rem;
	color: black;
}
.flash-one .dianlan{
	width: 1.4rem;
	height: 0.16rem;
	margin-top: 0.55rem;
	margin-left:2.83rem;
}
.flash-one .dianlan span{
	display: block;
	width: 0.16rem;
	height: 0.16rem;
	background: #303030;
	border-radius: 50%;
	float: left;
	margin-right:0.44rem;
}
.flash-one .dianlan span:last-child{
	margin-right: 0rem;
}
.flash-one .dianlan span:first-child{
	background:#7A16FF; 
}






