.new-header{
	width: 100%;
	height: 1rem;
	background: #0E121E;
	text-align: center;
	box-sizing:border-box;
	padding-left: 1.98rem;
	position: relative;
}
.new-header>img{
	width: 3.37rem;
	height: 0.97rem;
	display: block;
}
.new-header>a>img{
	width: 0.57rem;
	display: block;
	position: absolute;
	left: 0.25rem;
	top: 0;
	bottom: 0;
	margin:auto;
}
/*.new-header>span{
	display: inline-block;
	width: 0.8rem;
	height: 1px;
	background-image:linear-gradient(90deg,#0E121E,#4B4E57);
	float: left;
	box-sizing: border-box;
	margin-top: 0.24rem;
}
.new-header>span:nth-of-type(2){
	transform: rotate(180deg);
}
.new-header>i{
	display: inline-block;
	font-size: 0.36rem;
	color: white;
	font-style: normal;
	float: left;
	padding:0 0.17rem;
}*/
/*.new-header>i:nth-of-type(2){
	display: block;
	font-size: 0.24rem;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.10rem;
	margin: auto;
}*/
/*.new-header-fang{
	width: 10px;
	height: 10px;
	background: white;
	float: left;
	transform: rotate(45deg);
	margin-top: 0.15rem;
	position: relative;
	z-index: 2;
}
.new-header-fang:nth-of-type(2),.new-header-fang:nth-of-type(3){
	background: #EBEBEB;
	position: relative;
	z-index: 1;
}
.new-header-fang:nth-of-type(1){
	margin-left: 0.09rem;
}
.new-header-fang:nth-of-type(4){
	margin-right: 0.09rem;
}*/
.new-banner{
	width: 100%;
}
.new-banner>img{
	width: 100%;
	height: 3.56rem;
}
.new-nav{
	width: 7rem;
	height: 7.38rem;
	margin: 0 auto;
	background-image: url(../img/new-bg_03.png);
	background-size: 100%;
	transform: translateY(-0.5rem);
}
.new-nav-son{
	width: 6.43rem;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 0.5rem;
}
.new-nav-son>span:nth-of-type(1){
	display: block;
	float: left;
}
.new-nav-son>span:nth-of-type(1)>img{
	width: 0.4rem;
	display: block;
}
.new-nav-son>span:nth-of-type(2){
	display: block;
	float: left;
	font-size: 0.26rem;
}
.new-nav-son>span:nth-of-type(3){
	display: block;
	width: 0.55rem;
	height: 1px;
	background: #515151;
	float: left;
}
.new-nav-son>span:nth-of-type(4){
	display: block;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: #515151;
	float: left;
	margin: 0 0.1rem;
}
.new-nav-son>span:nth-of-type(5){
	display: block;
	width: 0.55rem;
	height: 1px;
	background: #515151;
	float: left;
}
.new-nav-son>p{
	font-size: 0.24rem;
	box-sizing: border-box;
	padding: 0 0.3rem;
	padding-bottom: 0.64rem;
}
.new-nav-son1{
	width: 6.43rem;
	height: 1.55rem;
	margin: 0 auto;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0.1rem;
	box-shadow: 0 -0.01rem 0.05rem 0 rgba(0,0,0,0.2);
	position: relative;
	overflow: hidden;
}
.new-nav-son1:after{
	content: "";
	width: 1rem;
	height: 4rem;
	background: blue;
	display: block;
	position: absolute;
	top: -0.4rem;
	right: -0.85rem;
}
.new-nav-son1>span{
	font-size: 0.24rem;
}
.new-nav-son1>span>img{
	display: block;
	width: 0.4rem;
}
.new-nav-son1>span:nth-of-type(1){
	display: inline-block;
	box-sizing: border-box;
	float: left;
}
.new-nav-son1>span:nth-of-type(3){
	display: inline-block;
	margin-top: 0.1rem;
	float: left;
}
.new-nav-son1>span:nth-of-type(5){
	display: inline-block;
	margin-top: 0.05rem;
	float: left;
}
.new-nav-son1>span:nth-of-type(2){
	display: block;
	line-height: 0.4rem;
	font-weight: bold;
	box-sizing: border-box;
	padding-left: 0.5rem;
}
.new-nav-son1>span:nth-of-type(4){
	display: block;
	margin-top: 0.1rem;
	line-height: 0.4rem;
	padding-left: 0.5rem;
	line-height: 0.45rem;
}
.new-nav-son1>span:nth-of-type(6){
	display: block;
	font-size: 0.18rem;
	margin-top: 0.05rem;
	line-height: 0.4rem;
	padding-left: 0.5rem;
}
.new-nav-son1>span:nth-of-type(6)>i{
	font-size: 0.24rem;
	font-style: normal;
	font-weight: bold;
}
.new-nav-son1:nth-of-type(3){
	height: 1.97rem;
	margin-top: 0.22rem;
	box-sizing: border-box;
	padding-right: 0.4rem;
}
.new-nav-son1:nth-of-type(3)>span:nth-of-type(6){
	display: block;
	font-size: 0.24rem;
	margin-top: 0.05rem;
	line-height: 0.4rem;
	padding-left: 0.5rem;
}
.new-nav-son1:nth-of-type(3)>span:nth-of-type(3){
	margin-top: 0.30rem;
}
.new-nav-son1:nth-of-type(3)>span:nth-of-type(4){
	margin-top: 0.3rem;
}
.new-nav-son1:nth-of-type(4){
	height: 0.7rem;
	margin-top: 0.22rem;
	box-sizing: border-box;
	padding-right: 0.4rem;
	padding-top: 0.2rem;
	position: relative;
}
.new-nav-son1:nth-of-type(4):before{
	content: "";
	width: 0;
	display: block;
	border-top: 0.16rem solid #aaaaaa;
	border-left: 0.1rem solid transparent;
	border-right: 0.1rem solid transparent;
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
}
hr{
	width: 100%;
	height: 1px;
	background: #F5F5F5;
	border: 0px;
}
.new-footer{
	width: 100%;
	height: 1rem;
	background: #0C1832;
	position: fixed;
	bottom: 0;
}
.new-footer-left{
	width: 55%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 0.16rem;
	display: flex;
	justify-content: space-between;
}
.new-footer-right{
	width: 45%;
	height: 100%;
	background: #EF1F1F;
	float: right;
	box-sizing: border-box;
	padding: 0.2rem 0.55rem;
}
.new-footer-right>span{
	font-size: 0.36rem;
	line-height: 0.7rem;
	color: white;
	font-weight: bold;
}
.new-footer-right>img{
	float: left;
	width: 0.7rem;
	
}
.new-left-son{
	width: 1.26rem;
	text-align: center;
	font-size: 0.24rem;
	color: white;
	float: left;
}
.new-left-son:nth-of-type(2){
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.new-left-son>img{
	width: 0.4rem;
	display: block;
	margin: 0 auto;
}
