

/*热门赛事*/

.hot-Sporter{
	width: 100%;
	height: 100vh;
	background: #F5F5F5;
}
.search{
	width: 100%;
	background: #0E121E;
	box-sizing: border-box;
	padding:0.33rem 0.24rem 0.27rem 0.24rem;
	overflow: hidden;
	position: relative;
}
.search>a>img{
	width: 0.44rem;
	height: 0.44rem;
	display: block;
	/*float: left;*/
}
.search>.frame{
	width: 5.71rem;
	height: 0.41rem;
	float: left;
	margin:0rem 0rem 0rem 0.22rem;
	box-sizing: border-box;
	padding:0rem 0.22rem;
	border-radius: 0.06rem;
	outline: none;
	border:0rem;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color:#4E4B49;
	font-size: 0.22rem;
}
.search>a{
	display: block;
	float: left;
}
.search>a:nth-of-type(2){
	display: block;
	float:right;
}
.search>a:nth-of-type(2)>img{
	width: 0.44rem;
	height: 0.44rem;
	display: block;
	/*float: right;*/
}
.search>.rail{
	width:7.01rem;
	height: 0.01rem;
	background: #FFFFFF;
	position: absolute;
	top:0rem;
	right: 0rem;
	left: 0rem;
	margin:auto;
}
.search .rail:after{
	content: "";
	display: block;
	width:0.03rem;
	height: 0.03rem;
	background: #FFFFFF;
	position: absolute;
	top:-0.01rem;
	left: 0rem;
}
.search .rail:before{
	content: "";
	display: block;
	width:0.03rem;
	height: 0.03rem;
	background: #FFFFFF;
	position: absolute;
	top:-0.01rem;
	right: 0rem;
}
.search .rail>span:after{
	content: "";
	display: block;
	width:0.03rem;
	height: 0.03rem;
	background: #FFFFFF;
	position: absolute;
	top:-0.01rem;
	left: 0.6rem;
}
.search .rail>span:before{
	content: "";
	display: block;
	width:0.03rem;
	height: 0.03rem;
	background: #FFFFFF;
	position: absolute;
	top:-0.01rem;
	right: 1.73rem;
}



/*热门搜索*/

.popular{
	width:100%;
	box-sizing: border-box;
	padding:0.22rem 0.24rem 0rem 0.24rem;
	overflow: hidden;
	position: relative;
}
.popular .chara{
	float:left;
}
.popular .chara>img{
	width: 1.47rem;
	display: block;
}
.popular .more{
	width:1rem;
	height: 0.28rem;
	background: #FFCA2A;
	border-radius: 0.28rem;
	float:right;
	position: relative;
	margin-top:0.04rem;
	text-align: center;
}
.popular .more>img{
	width:1.06rem;
	height: 0.28rem;
	position: absolute;
	top:-0.04rem;
	right:0rem;
}
.popular .more>a{
	font-size: 0.16rem;
	color: #866A25;
	line-height: 0.26rem;
	font-family: "微软雅黑";
	font-weight: 600;
}
.EVENT{
	width:100%;
	box-sizing: border-box;
	padding:0rem 0.24rem 0.17rem 0.24rem;
	position: relative;
	
}
.EVENT>i{
	font-style: normal;
	font-size: 0.14rem;
	color: #6D6D6D;
	font-weight: 600;
}
.EVENT>span{
	font-size: 0.14rem;
	color: #6D6D6D;
	font-weight: 500;
}


/*城市约跑*/
.city{
	width: 100%;
	box-sizing: border-box;
	padding:0.08rem 0.24rem;
	overflow: hidden;
}
.city .Appoin-l{
	display: block;
	width: 3.45rem;
	float:left;
	position: relative;
}
.city .Appoin-r{
	display: block;
	width: 3.45rem;
	float:right;
	position: relative;
}
.city .Appoin-l>img{
	width: 100%;
	display: block;
}
.city .Appoin-r>img{
	width: 100%;
	display: block;
}
.city .Appoin-l .hood{
	width: 100%;
	position: absolute;
	top:0rem;
	text-align: center;
}
.city .Appoin-l .hood>i{
	font-style:normal;
	font-size:0.26rem;
	display: block;
	margin-top:0.1rem;
	color: #FFFFFF;
	font-weight: 500;
	font-family: "微软雅黑";
}
.city .Appoin-r .hood{
	width: 100%;
	position: absolute;
	top:0rem;
	text-align: center;
}
.city .Appoin-l .hood>span{
	display: block;
	width: 1.16rem;
	height: 0.01rem;
	background: #DDCFCD;
	margin:auto;
}
.city .Appoin-l .hood>b{
	font-weight: normal;
	font-size:0.26rem;
	display: block;
	margin-top:0.1rem;
	color: #DDCFCD;
	font-weight: 400;
	font-family: "微软雅黑";
}
.city .Appoin-r .hood>i{
	font-style:normal;
	font-size:0.26rem;
	display: block;
	margin-top:0.1rem;
	color: #FFFFFF;
	font-weight: 500;
	font-family: "微软雅黑";
}
.city .Appoin-r .hood>span{
	display: block;
	width: 1.16rem;
	height: 0.01rem;
	background: #DDCFCD;
	margin:auto;
}
.city .Appoin-r .hood>b{
	font-weight: normal;
	font-size:0.26rem;
	display: block;
	margin-top:0.1rem;
	color: #DDCFCD;
	font-weight: 400;
	font-family: "微软雅黑";
}


/*线上约跑*/
.on-line{
	width: 100%;
	box-sizing: border-box;
	padding:0rem 0.24rem;
}
.on-line>ul{
	width: 100%;
	margin-bottom:0.12rem;
}
.on-line>ul:after{
	content: "";
	display: block;
	clear: both;
}
.on-line>ul>li{
	width: 32.3%;
	height: 0.64rem;
	float:left;
	background:#FFFFFF;
	margin-right: 0.1rem;
	border-radius: 0.08rem;
	box-shadow:0rem 0rem 0.06rem rgba(0,0,0,0.2);
	position:relative;
}

.on-line>ul>li:nth-child(3){
	float:right;
	margin-right: 0rem;
}
.on-line>ul>li>.radius{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.on-line>ul>li>.radius>.radius-B{
	width:1.47rem;
	height: 1.47rem;
	border-radius: 50%;
	background: #FAD8DE;
	margin:auto;
	box-sizing: border-box;
	padding-top:0.23rem;
}
.on-line>ul>li>.radius>.radius-B>.radius-M{
	width:1rem;
	height: 1rem;
	border-radius: 50%;
	background: #F5B5C0;
	margin:auto;
	box-sizing: border-box;
	padding-top:0.2rem;
}
.on-line>ul>li>.radius>.radius-B>.radius-M>.radius-S{
	width:0.57rem;
	height: 0.57rem;
	border-radius: 50%;
	background: #F19CAC;
	margin:auto;
}
.on-line>ul>li>.run{
	width: 100%;
	position: absolute;
	top: 0rem;
	text-align: center;
}
.on-line>ul>li>.run>a{
	font-size:0.24rem;
	color: #464546;
	line-height: 0.64rem;
	font-weight: 500;
	font-family: "微软雅黑";
}
.on-line>ul>li:nth-child(2)>.radius>.radius-B{
	background: #E3F0D8;
}
.on-line>ul>li:nth-child(2)>.radius>.radius-B>.radius-M{
	background: #C9E3B6;
}
.on-line>ul>li:nth-child(2)>.radius>.radius-B>.radius-M>.radius-S{
	background: #B4D89C;
}


/*删除搜索记录*/
.delete{
	width:100%;
	height: 2.34rem;
	box-sizing: border-box;
	padding:0rem 0.24rem;
	position: relative;
}
.delete .gudong{
	width: 100%;
	position: relative;
}
.delete .gudong>img{
	width: 100%;
}
.delete .gudong>.gudong-team{
	width: 100%;
	position: absolute;
	top:0rem;
	box-sizing: border-box;
	padding:0.15rem 0.37rem 0rem 0.37rem;
}
.delete .gudong>.gudong-team>.team-top{
	width:100%;
	box-sizing: border-box;
	border-bottom:0.01rem solid #676766;
	padding-bottom: 0.09rem;
	overflow: hidden;
}
.delete .gudong>.gudong-team>.team-top>img{
	display: block;
	width:0.31rem;
	height: 0.31rem;
	float: left;
}
.delete .gudong>.gudong-team>.team-top>a{
	font-size:0.26rem;
	color: #FFFFFF;
	margin: 0.1rem;
}
.delete .gudong>.gudong-team>.team-top>i{
	display: inline-block;
	width:0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	margin-bottom:0.06rem;
}
.delete .gudong>.gudong-team>.team-top>i:nth-of-type(1){
	background:#569E35;
}
.delete .gudong>.gudong-team>.team-top>i:nth-of-type(2){
	background:#E42236;
}
.delete .gudong>.gudong-team>.team-bottom{
	width:100%;
	box-sizing: border-box;
	border-bottom:0.01rem solid #676766;
	padding:0.2rem 0rem 0.09rem 0rem;
	overflow: hidden;
}
.delete .gudong>.gudong-team>.team-bottom>img{
	display: block;
	width:0.31rem;
	height: 0.31rem;
	float: left;
}
.delete .gudong>.gudong-team>.team-bottom>a{
	font-size:0.26rem;
	color: #FFFFFF;
	margin: 0.1rem;
}
.delete .gudong>.gudong-team>.team-bottom>i{
	display: inline-block;
	width:0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	margin-bottom:0.06rem;
}
.delete .gudong>.gudong-team>.team-bottom>i:nth-of-type(1){
	background:#569E35;
}
.delete .gudong>.gudong-team>.team-bottom>i:nth-of-type(2){
	background:#E42236;
}


.delete .gudong>.gudong-team>.team-left{
	width:100%;
	overflow: hidden;
	box-sizing: border-box;
	padding:0.1rem 0rem  0rem 0rem;
}
.delete .gudong>.gudong-team>.team-left>img{
	width:0.27rem;
	margin-left:2.14rem;
	display: block;
	float: left;
}
.delete .gudong>.gudong-team>.team-left>a{
	font-size:0.26rem;
	color: #FFFFFF;
	margin: 0.1rem;
}

.delete .mic{
	width: 0.9rem;
	height: 0.9rem;
	background: #F5C824;
	border-radius: 50%;
	position:absolute;
	bottom:0.12rem;
	right:0.37rem;
	text-align: center;
}
.delete .mic>a{
	display: block;
	width:100%;
	height: 100%;
}
.delete .mic>a>img{
	width: 0.36rem;
	margin-top:0.18rem;
}
.delete .mic>.circle{
	display: block;
	width:0.97rem;
	position: absolute;
	top:0rem;
	right:0.03rem;
}



/*赛事*/
.Competition{
	width: 100%;
	height: 100vh;
	background: #FFFFFF;
}
.walk{
	width: 100%;
	box-sizing: border-box;
	padding:0rem 0.31rem;
}
.walk .running{
	width: 100%;
	box-sizing: border-box;
	padding:0.22rem 0.04rem;
	overflow: hidden;
}
.walk .running>.ning-One{
	width: 0.97rem;
	float:left;
}
.walk .running>.ning-One>img{
	width:100%;
	display: block;
}
.walk .running>.ning-Tow{
	height: 100%;
	float:left;
	box-sizing: border-box;
	padding:0rem 0.24rem;
}
.walk .running>.ning-Tow>a{
	font-family: "微软雅黑";
	font-size: 0.24rem;
	color: #4E4B49;
	line-height: 0.97rem;
	font-weight: 600;
}
.walk .running>.ning-Three{
	width: 1.09rem;
	height: 0.32rem;
	border-radius: 0.3rem;
	float:left;
	text-align: center;
	background: #AFAFAF;
	margin-top:0.38rem;
}
.walk .running>.ning-Three>a{
	font-family: "微软雅黑";
	font-size: 0.18rem;
	color: #ffffff;
	line-height:0.32rem;
	font-weight: 500;
}
.walk .running>.ning-Four{
	float:right;
	margin-top:0.43rem;
	box-sizing: border-box;
	padding:0rem 0.2rem;
}
.walk .running>.ning-Four>img{
	width: 0.27rem;
	display: block;
}
.walk .running>.ning-Fove{
	height: 100%;
	float:right;
}
.walk .running>.ning-Fove>a{
	font-family: "微软雅黑";
	font-size: 0.16rem;
	color: #6F6D6B;
	line-height: 1rem;
	font-weight: 400;
}
.walk .running:nth-child(2)>.ning-Three{
	background: #E7253D;
	box-sizing:border-box;
	padding-top:0.04rem;
}
.walk .running:nth-child(2)>.ning-Three>img{
	width:0.23rem;
}


.Competition .popular{
	padding:0.53rem 0.24rem 0rem 0.24rem;
}
.Competition .delete{
	/*height: 2.73rem;*/
}
.Competition .delete .mic{	
	bottom:0.51rem;	
}


.popular .ZheZhao{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top:0rem;
	left:-0.24rem;
	padding:0rem 0rem 0rem 0.24rem;
}

.EVENT .zhe{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top:0rem;
	left:-0.24rem;
	padding:0rem 0rem 0rem 0.24rem;
}

.delete .zhao{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top:0rem;
	left:-0.24rem;
	padding:0rem 0rem 0rem 0.24rem;
}






/*恭喜获得20个红包*/

.BackGround{
	width: 100%;
	height: 100vh;
	background: #FFFFFF;
}

.search>i{
	display: block;
	width:0.08rem;
	height:0.08rem;
	background: #ffffff;
	border-radius: 50%;
	position: absolute;
	left:2.99rem;
	bottom:0.46rem;
}
.search>i:nth-child(2){
	left:4.64rem;
	bottom:0.46rem;
}
.search>span{
	display: block;
	position: absolute;
	left:3.18rem;
	font-size: 0.34rem;
	color: #ffffff;
}
.man{
	width:100%;
	height: 6.65rem;
	background: url(../img/HongBao-11.png) no-repeat;
	background-position: center center;
	background-size:cover;
}
.button{
	width: 2rem;
	height: 2rem;
	background: #DCDCDC;
	border-radius: 50%;
	margin:2.3rem auto 0;
	position:relative;
}
.button .button-o{
	width:1.5rem;
	height: 1.5rem;
	background: #FEFEFE;
	border-radius: 50%;
	box-shadow: 0rem 0rem 0.1rem #CDCCCC;
	margin:auto;
	position:absolute;
	top:0.25rem;
	left:0rem;
	right:0rem;
}
.button .button-o .button-p{
	width:0.72rem;
	height: 0.72rem;
	background: #DCDCDC;
	border-radius: 50%;
	box-shadow: 0rem 0rem 0.1rem #D6D6D6;
	margin:auto;
	position:absolute;
	top:0.39rem;
	left:0rem;
	right:0rem;
}
.button .button-o .button-p .button-q{
	width:0.47rem;
	height: 0.47rem;
	background: -webkit-linear-gradient(left,#2194CA,#51BEEC);
	border-radius: 50%;
	margin:auto;
	position:absolute;
	top:0.13rem;
	left:0rem;
	right:0rem;
}
.button .button-o .button-p .button-q .button-r{
	width:0.38rem;
	height: 0.38rem;
	background: #FEFEFE;
	border-radius: 50%;
	margin:auto;
	position:absolute;
	top:0.04rem;
	left:0rem;
	right:0rem;
}
.BackGround .shut{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top:0rem;
}
.BackGround .shut .HONG-bao{
	width: 100%;
	height: 6.23rem;
	position: absolute;
	top:3.58rem;
}
.BackGround .shut .HONG-bao>img{
	height: 100%;
	display: block;
	margin:0rem auto;
}
.BackGround .shut .HONG-bao>h1{
	font-size:0.34rem;
	color: #ffee34;
	position:absolute;
	top:3.15rem;
	left:2.4rem;
}
.BackGround .shut .HONG-bao>p{
	width: 100%;
	font-size:0.22rem;
	color: #e51e31;
	position:absolute;
	top:3.85rem;
	text-align: center;
}
.BackGround .shut .HONG-bao>a{
	display: block;
	width:3.27rem;
	height:0.65rem;
	border-radius: 0.1rem;
	background: #ffee34;
	box-shadow: 0rem 0.1rem 0.1rem #F70F10;
	margin:0rem auto;
	text-align: center;
	line-height: 0.65rem;
	font-size: 0.26rem;
	color: #ff4c35;
	font-weight: 500;
	font-family: "微软雅黑";
	position:absolute;
	bottom:0.93rem;
	left:0rem;
	right:0rem;
}










/*授权登录*/
.authou{
	width:100%;
	height:100vh;
	background: url(../img/background.png) no-repeat center;
	background-size: cover;
	position:relative;
}
.authou .ZHE{
	width:100%;
	height:100%;
	background: rgba(21,31,51,.56);
	position: absolute;
	top:0rem;
	box-sizing: border-box;
	padding:  0rem 0.24rem;
}
.authou .ZHE .check{
	width:100%;
	height: 1rem;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0.4rem 0rem 0rem 0rem;
	text-align: center;
}
.authou .ZHE .check>a{
	display:block;
	width: 0.44rem;
	height: 0.44rem;
	background: url(../img/SS-4_03.png) no-repeat center;
	background-size: cover;	
	float: left;
}
.authou .ZHE .check>span{
	display:block;
	float: left;
	font-size:0.34rem;
	color: #FFFFFF;
	font-weight: 500;
	font-family: "苹方";
	margin-left:2.4rem;
}
.authou .ZHE .fidelity{
	width:100%;
	height: 6.32rem;
	border-radius: 0.1rem;
	background: url(../img/images/Deng-1_03.png) no-repeat center;
	background-size: cover;	
}
.authou .ZHE .fidelity>ul{
	width:100%;
	box-sizing:border-box;
	padding-top:0.7rem;
}
.authou .ZHE .fidelity>ul>li{
	width: 100%;
	box-sizing:border-box;
	padding:0.08rem 0rem;
	text-align: center;
	position: relative;
}
.authou .ZHE .fidelity>ul>li>span{
	font-size: 0.3rem;
	color: #ffffff;
	font-weight: 600;
}
.authou .ZHE .fidelity>ul>li>b{
	font-weight: normal;
	font-size: 0.24rem;
	color: #ffffff;
}
.authou .ZHE .fidelity>ul>li>strong{
	font-weight: 300;
	font-size: 0.2rem;
	color: #ffffff;
	font-family: "微软雅黑";
}
.authou .ZHE .fidelity>ul>li:nth-child(3){
	padding:0rem 0rem;
}
.authou .ZHE .fidelity>ul>li>i{
	display: block;
	font-style: normal;
	width:0.14rem;
	height:0.14rem;
	border-radius: 50%;
	background: #ffffff;
	position: absolute;
	top: 0.18rem;
}
.authou .ZHE .fidelity>ul>li>i:nth-child(1){
	left:2.35rem;
	width:0.08rem;
	height: 0.08rem;
	top: 0.2rem;
}
.authou .ZHE .fidelity>ul>li>i:nth-child(2){
	left:2.64rem;
	width:0.1rem;
	height: 0.1rem;
	top: 0.19rem;
}
.authou .ZHE .fidelity>ul>li>i:nth-child(3){
	left:2.92rem;
}
.authou .ZHE .fidelity>ul>li>i:nth-child(4){
	right:2.92rem;
}
.authou .ZHE .fidelity>ul>li>i:nth-child(5){
	right:2.64rem;
	width:0.1rem;
	height: 0.1rem;
	top: 0.19rem;
}
.authou .ZHE .fidelity>ul>li>i:nth-child(6){
	right:2.35rem;
	width:0.08rem;
	height: 0.08rem;
	top: 0.2rem;
}


/*登录*/

.Apply{
	width:6.47rem;
	height: 1.93rem;
	background:rgba(255,255,255,0.8);
	border-radius: 0.1rem;
	margin:0.2rem auto;
	box-shadow: 0rem 0.01rem 0.01rem rgba(21,31,51,.56);
}
.Apply .Apply-one{
	width:6.75rem;
	height: 1.77rem;
	background:rgba(255,255,255,0.8);
	border-radius: 0.1rem;
	margin:0rem auto;
	margin-left:-0.14rem;
	box-shadow: 0rem 0.02rem 0.05rem rgba(21,31,51,0.2);
}
.Apply .Apply-one .Apply-tow{
	width:7.02rem;
	height: 1.61rem;
	background:rgba(255,255,255,1);
	border-radius: 0.1rem;
	margin:0rem auto;
	margin-left:-0.14rem;
	box-shadow: 0rem 0.02rem 0.05rem rgba(21,31,51,0.2);
	box-sizing: border-box;
	padding:0.25rem 0rem 0rem 0.25rem;
	position:relative;
}
.Apply .Apply-one .Apply-tow:after{
	content: "";
	display: block;
	clear:both;
}
.Apply .Apply-one .Apply-tow>.dengpic{
	width:1.14rem;
	height: 1.14rem;
	border-radius: 50%;
	box-sizing: border-box;
	border:0.03rem solid #ffffff;
	overflow: hidden;
	box-shadow:0rem 0rem 0.2rem rgba(46,47,48,0.8) ;
	float:left;
}
.Apply .Apply-one .Apply-tow>.dengpic>img{
	width: 2rem;
	transform: translateX(-0.5rem);
}
.Apply .Apply-one .Apply-tow>.dengchian{
	box-sizing: border-box;
	padding:0.18rem 0rem 0rem 0.3rem;
	float:left;
}
.Apply .Apply-one .Apply-tow>.dengchian>i{
	font-style: normal;
	font-size:0.3rem;
	color:#373737;
	font-weight: 500;
}
.Apply .Apply-one .Apply-tow>.dengchian>b{
	font-weight: 300;
	font-size: 0.24rem;
	color: #494949;
	line-height: 0.8rem;
	margin-left:0.3rem;
}
.Apply .Apply-one .Apply-tow>.wait-A{
	width: 0.24rem;
	height:0.24rem;
	border-radius: 50%;
	background: #ffffff;
	box-shadow:0rem 0.01rem 0.05rem rgba(0,0,0,0.1) inset;
	position:absolute;
	top:-0.62rem;
	left:1.34rem;
}
.Apply .Apply-one .Apply-tow>.wait-B{
	width: 0.12rem;
	height:0.80rem;
	border-radius: 0.12rem;
	background:-webkit-linear-gradient(left,rgba(209,209,209,1) 50%,rgba(233,233,233,1) 50%);
	position:absolute;
	top:-0.5rem;
	left:1.4rem;
}
.Apply .Apply-one .Apply-tow>.wait-C{
	width: 0.24rem;
	height:0.24rem;
	border-radius: 50%;
	background: #ffffff;
	box-shadow:0rem 0.01rem 0.05rem rgba(0,0,0,0.1) inset;
	position:absolute;
	top:0.14rem;
	left:1.34rem;
}
.Apply .Apply-one .Apply-tow>.wait-D{
	width: 0.08rem;
	height:0.08rem;
	border-radius: 50%;
	background: #373737;
	position:absolute;
	top:1.17rem;
	left:1.74rem;
}


/*授权登录*/
.SouQuan{
	display: block;
	width:3.93rem;
	height:0.73rem;
	background: #2B5CD5;
	border-radius: 0.73rem;
	margin:0.6rem auto;
	box-sizing:border-box;
	padding:0rem 0.52rem;
	box-shadow: 0rem 0.1rem 0.2rem rgba(43,92,213,0.3);
}
.SouQuan:after{
	content:"";
	display: block;
	clear:both;
}
.SouQuan .DIAN{
	width:0.08rem;
	height:0.08rem;
	border-radius: 50%;
	background:#ffffff;
	float:left;
	margin-top:0.32rem;
}
.SouQuan .DIAN:nth-of-type(2){
	float:right;
}
.SouQuan>img{
	width:1.22rem;
	float:left;
	margin-top:0.22rem;
	margin-left:0.76rem;
	display: block;
}





